* {
    border: 1px red solid;
}

body {
    margin: 0;
}

.logo {
    text-align: center;
}

/* .logo-holder {
    display: flex;
    align-items: center;
} */

.search-bar {
    display: flex;
    justify-content: center;
}

.search-input {
    width: 30%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
      display: inline;
  }

  .nav-menu {
      text-align: right;
  }

  .button {
      text-align: center;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }